body {
  margin: 0;
}
/* Header Styling */
header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  width: 100%;
  height: 80px;
  z-index: 10;
  position: fixed;
  background-color: white;
  border-bottom: 1px black solid;
}

.logo {
  height: 60px;
  align-items: center;
  display: flex;
  flex-grow: 1;
  margin: 10px 15px;
}

.logo span {
  color: MediumAquamarine;
  margin-left: 10px;
}

.headernav {
  display: flex;
  height: 60px;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  margin: 10px 30px;
}

.headernav span {
  display: inline-block;
  padding-left: 25px;
}

a {
    color: black;
}
a:visited {
    color: black ;
}
a:hover {
    color: black ;
}
a:focus {
    color: black ;
}
a:active {
    color: black;
}

/*Finished Header Styling*/
/*Main Styling*/
main {
  z-index: 5;
  padding-top: 80px;
}

.column {
  display: flex;
  width: 1232px;
  height: auto;
  padding-top: 30px;
  padding-right: 6px;
  margin: 0 auto;

}
.column .large {
  display: flex;
  width: 630px;
  flex-direction: column;
  padding-top: 20px;

}
.column .medium {
  display: flex;
  width: 300px;
  height: auto;
  margin: 0px 26px;
  flex-direction: column;

}

.column .small {
  display: flex;
  width: 240px;
  height: auto;
  flex-direction: column;
}


.column div {
}
.text {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.headline1 {
  display: flex;
  flex-direction: column;
  background-image: url('../images/img-story-main.png');
  font-family: Georgia;
  vertical-align: middle;
  font-size: 40px;
  justify-content: center;
  padding-left: 15px;
}

.headline2 {
  background-image: url('../images/img-story-2.png');
  font-family: Georgia;
  font-size: 28px;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  margin-top: 15px;
}

.headline3 {
  background-image: url('../images/img-story-3.png');
  font-family: Georgia;
  font-size: 28px;
  justify-content: center;
  text-align: center;
  margin-top: 15px;

}

.headline4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-image: url('../images/img-story-1.png');
  font-family: Georgia;
  font-size: 30px;
  margin-top: 15px;
}


.headlinemaster {

  display: flex;
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  color: white;
}

.storytime {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.storytime h2 {
  font-size: 31px;
  font-weight: 800;
}

.storytime span {
  align-self: center;
}

.right {
  margin-left: 11px;
}
.left {
  margin-right: 12px;
}
#bites {
 font-size: 16px;
 font-weight: bold;
 text-align: center;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
}

.sidebar span{
  border-bottom: 1px solid black;
  padding: 11px 35px 11px 20px;
}

.footer {
  display: flex;
  flex-direction: column;
  height: 325px;
  width: 100%;
  margin-top: 50px;
  background-color: MediumAquamarine;
  vertical-align: middle;
  justify-content: center;
  align-items: center;


}
.footernav {
  display: inline-block;
  justify-content: center;
}

.footernav span {
  padding-left: 20px;
  font-size: 12px;
  margin: auto;
  font-family: Verdana;
}

.footertitle {
  display: inline-block;;
  text-align: center;
  vertical-align: middle;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin-right: 20px;
  padding-right: 20px;
  border-right: 2px solid white;
}
.copyright {
  padding-top: 20px;
  font-size: 12px;
}
